* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

}
html {
  height: 100%;
}
body {
  background-color: #0e1621;
  height: 100%;
}
.mainWrapper {
  width: 100%;

  padding-bottom: 80px;
}
.introWrapper {
  padding: 60px 16px 20px 16px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/introBg.webp);
  background-size: cover;
  background-position: center;

  backdrop-filter: blur(4px);
}
.introWrapper::backdrop {
  filter: blur(4px);
}
.servicesWrapper {
  padding: 60px 16px 20px 16px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.introText {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px;
  background-color: #0f1e31;
  border-radius: 5px;
  gap: 60px;
}
.introText h1 {
  font-weight: 900;
  text-align: center;
  color: #ffffffc9;
  line-height: 38px;
  font-size: 48px;
}
.introText p {
  font-weight: 400;
  text-align: center;
  color: #ffffffc9;
  line-height: 28px;
  font-size: 22px;
}
.introArrow {
  margin-top: 30px;
  width: 60px;
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.sectionName {
  color: #ffffffc9;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  font-size: 30px;
}
.serviceItemImg {
  position: relative;

  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.serviceItemImg img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.serviceItemTitle {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffffc9;
}
.serviceItemName {
  text-transform: uppercase;
  background-color: #f48841;
  font-size: 20px;
  color: #ffffffc9;
  display: flex;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}
.serviceItemSubName {
  color: #ffffffc9;
  font-size: 20px;
}
.serviceItemPricing {
  color: #f48841;
}
.serviceMenuTitle h4 {
  margin-bottom: 20px;
}
.serviceMenuTitle ul {
  padding-left: 15px;
  margin-bottom: 10px;
}
.faqName {
  color: #ffffffc9;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.faqOrderList {
  padding-left: 20px;
  margin-bottom: 10px;
  color: #ffffffc9;
  font-size: 18px;
}
.faqOrderList li {
  margin-bottom: 20px;
}
.swiper {
  width: 100%;
  max-width: 500px;
}
.reviewsItemImg {
  position: relative;

  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}
.reviewsItemImg img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  color: #f48841 !important;
}
.swiper-pagination-bullet {
  background: #0f1e31 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #f48841 !important;
}
header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f1e31;
}
.headerNavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7px;
  font-weight: 200;
  color: #ffffffc9;
}
.headerModalItem {
  position: relative;
}
.formModalButton {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f48841;
  border: 10px solid #0e1621;
}
.formModalButton img {
  transform: rotate(-30deg);
}
/* ACCORDION*/
.accordion {
  width: 100%;
}
.accordion__item {
  margin-bottom: 20px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
  background-color: #0f1e31;
  border-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
}
.accordion__item .accordion__title {
  position: relative;
  display: block;
  padding: 13px 15px 13px 40px;

  color: #ffffffc9;
  font-size: 24px;
  text-decoration: none;
  background-color: #0f1e31;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}
.accordion__item .accordion__title:hover {
  background-color: #0f1e31;
  transition: all 0.5s ease-out;
}
.accordion__item .accordion-active {
  background-color: #0f1e31;
}
.accordion__item .accordion__title .accordion__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #d3c7bf;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;

  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion__item .accordion__rotate {
  transform: translateY(-50%) rotate(45deg) !important;
}
.accordion__item .accordion__content {
  padding: 30px;
  margin-bottom: 2px;
  font-size: 18px;
  display: none;
  background-color: #0f1e31;
  color: #ffffffc9;
}
.accordion__item .accordion__arrow-item {
  font-weight: 600;
  transform: rotate(-90deg);
}
.modalWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalWrapper-active {
  display: flex !important;
  animation: modal 0.2s ease-in-out forwards;
}
@keyframes modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.modalBody {
  width: 95%;
  max-width: 500px;
  background-color: #0f1e31;
  padding: 16px;
  border-radius: 10px;
}
#quizForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.formNameText {
  font-size: 18px;
  color: #ffffffc9;
  text-align: center;
  margin-bottom: 20px;
}
.iti__selected-dial-code {
  color: #ffffffc9;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../images/date.svg) no-repeat center;
  width: 25px;
  height: 25px;
  background-size: contain;
} */
.formInput::placeholder {
  color: #ffffffc9;
}
.formInput {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #695f77;
  color: white;
  margin-bottom: 8px;
  padding: 0 15px;
  background: transparent;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}
.iti {
  width: 100%;
}
.labelForm {
  color: rgba(255, 255, 255, 0.7);

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: flex;
  align-self: flex-start;
  margin-bottom: 4px;
}

.error-input {
  border: 1px solid #db0202 !important;
}

.error-inputB::before {
  border: 1px solid #db0202 !important;
}

.formInput::placeholder {
  color: rgba(255, 255, 255, 0.582);

  font-size: 14.297px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formInput:focus {
  outline: none;
}

.formButton {
  border: 0;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  background: #f48841;
display: flex;
align-items: center;
justify-content: center;
  color: #fff;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
  /* 115.556% */
  transition: all 0.2s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.formButton:hover {
  box-shadow: 0px 3px 10px 0px rgba(46, 68, 179, 0.5);
}
.contacts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.contacts img {
  width: 40px;
}
.phones {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #ffffffc9;
  margin-bottom: 50px;
}
.phones a {
  color: #ffffffc9;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .accordion__item .accordion__title {
    font-size: 20px;
  }
}
